.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 10px 20px;
}
.cart-container{
    position: fixed;
    right: 20px;
    min-height: 680px;
    background-color: #FF99004D;
    margin-left: 5px;
    border-radius: 10px;
}
.add-cart-position{
    left:80%;
}

@media screen and (max-width:480px) {
    .shop-container{
        grid-template-columns: 5fr;
    }
    .cart-container{
        display: none;
        left: 10px;
        margin-right: 50px;
    }
}