.add-to-cart {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

@media screen and (min-width:480px) and (max-width:992px) {
    .add-to-cart{
        font-size: 30px;
    }
}